*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    align-items: center;
    text-align: center;
    margin: 150px auto;
    min-height: 150px;
    width: 80%;
    max-width: 400px;
    
    background-color: beige;
    border-radius: 1rem;
    border: 3px solid red;
}

button{
    min-height: 50px;
    width: 100px;
    font-size: 28px;
    color: rgb(41, 21, 21);
    border-radius: 0.5rem;
    background-color: burlywood;
    font-family: sans-serif;
    margin: 10px 0px 10px 0px;
}