*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    align-items: center;
    text-align: center;
    margin: 150px auto;
    /* margin-left: 400px; */
    min-height: 150px;
    width: 400px;
    max-width: 90%;
    background-color: beige;
    border-radius: 1rem;
    border: 3px solid red;
}